
.confirmation-container {
    text-align: center;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .confirmation-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .confirmation-container p {
    font-size: 18px;
  }
  
  .return-button {
    background-color: #4e7753;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }